$sub-main: #ff5700;
$seashell: #F8F9FA;
$white: #FFFFFF;
$text: #333333;
$silver-chalice: #CED4DA;
$catskill-white: #F5F8FA;
$alto: #D9D9D9;
$heather: #B7C4CF;
$iron: #D5D9DC;
$alizarin-crimson: #EB1F3A;
$sunglow: #FCD930;
$xanadu: #747774;



$international-orange: #ff5700;
$white: #FFFFFF;
$scorpion: #5E5E5E;
$mine-shaft: #2C2C2C;
$porcelain: #EDEFF1;
